<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">


</head>

<body id="page-top">
				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-4 text-gray-800">Especialidades</h1>

					<form th:action="@{/especialidad/buscar}" method="post"
						th:object="${especialidad}">
						<div class="form-group">

							
							<div class="col-sm-12">
								<input type="text" class="form-control" th:field="*{nameEspecialidad}"
									id="cat" placeholder="Ingrese nombre de especialidad"></input>
								<div align="right">
									<button type="submit" class="btn btn-danger">Buscar</button>
									<a href="/especialidad/listar" class="btn btn-dark">Cancelar</a>
								</div>
							</div>

						</div>

					</form>

					<hr class="sidebar-divider">

					<table class="table table-striped">
						<thead class="thead-dark">
							<tr align="center">
								<th scope="col">Id</th>
								<th scope="col">Nombre</th>
							</tr>
						</thead>
						<tbody>
							<tr align="center" th:each="cate: ${listEspecialidades}">
								<td th:text="${cate.idEspecialidad}"></td>
								<td th:text="${cate.nameEspecialidad}"></td>

							</tr>
						</tbody>
					</table>
					<p th:text="${mensaje}" class="form-text text-dark"></p>


				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			

		</div>
		<!-- End of Content Wrapper -->

	</div>
	

	


</body>

</html>
